dist: trusty
sudo: required

services: docker

language: bash

branches:
  only:
    - master

before_script:
  - env | sort
  - image="monogramm/docker-axelor-business-suite:${VERSION}${VARIANT:+-$VARIANT}"

script:
  - travis_retry docker build -t "$image" "images/${VERSION}/${VARIANT}"

after_script:
  - docker images
  - docker run -d "$image" "images/${VERSION}/${VARIANT}"
  - docker ps
  - docker logs "$image"

notifications:
  email: false

env: # Environments
    - VERSION=4.2 VARIANT=jre8-alpine
    - VERSION=4.2 VARIANT=jre8
    - VERSION=4.0 VARIANT=jre8-alpine
    - VERSION=4.0 VARIANT=jre8
